# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Additional Files
LICENSE.txt
README.txt
CREDITS.txt
changelog.txt
gradle.properties

# Files from Forge MDK
changelog.txt

